<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csci588.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity android:name="GamedayActivity" android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
        </activity>
        <activity android:name=".LineupActivity"></activity>
        <activity android:name=".MidweekActivity"></activity>
        <activity android:name=".PlayerActivity"></activity>
        <activity android:name=".SearchActivity" android:label="Search">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                	   android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".LeagueActivity"></activity>
        <meta-data android:name="android.app.default_searchable"
                   android:value=".SearchActivity" />
        <activity android:name=".LeagueActivity"></activity>
        <activity android:name=".CompareActivity"></activity>
    </application>

</manifest>
